div, input, textarea{
    box-sizing: border-box;
}

body{
    margin: 0px;
}


table{
    border-collapse: collapse;
}

.cart-background{
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    background-color:#c2d3de;
}

.cart-table{
    width: 100%;
    /* max-width: 700px; */
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.table-img{
    width: 80%;
    max-width: 150px;
}

.cart-table td{
    padding : 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table :nth-child(2){
    width: 300px;
}

a:visited{
    color: inherit;
}

.btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: chocolate;
}

.btn:focus{
    background-color: grey;
}

.btn:active{
    background-color: brown;
}

