.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.myname {
    text-align: center;
    font-size: 25px;    
}

.introduce {
    text-align: center;
    font-size: 20px;
}

.emphasis {
    color: red;
}

.box {
    width: 100px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    /*border: 4px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.container{
    width: 800px;
}

.header{
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
}

.right{
    width: 80%;
    height: 400px;
    background: coral;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    clear: both;
}