div{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.myname {
    text-align: center;
    font-size: 25px;    
}

.introduce {
    text-align: center;
    font-size: 20px;
}

.emphasis {
    color: red;
}

.box {
    width: 100px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    /*border: 4px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.left{
    width: 70%;
    height: 300px;
    float: left;
    background: yellow;
}

.right{
    width: 30%;
    height: 300px;
    float: left;
    background: aquamarine;
}

.profile{
    width: 100%;
    height: 30%;
    background-color: pink;
}

.profile_img
{
    height: 100%;
    float: left;
}

.article{
    width: 100%;
    height: 70%;
    background: orange;
}

.article_img{
    width: 80%;
    margin-left: auto;
}



.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
}

.main-title{
    color: white;
    font-size: 40px;
}

.main-content{
    color: white;
    
}

.main-button{
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;

}

.explain-box{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #cececeee;

    position: relative;
    top: -40px;
    box-sizing: border-box;
}

.form-background{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #cececeee;
}

