@font-face {
    font-family: 'nanum';
    src: url("../font/NanumSquareR.woff");
}
div, input, textarea {
    box-sizing: border-box;
}
body {
    font-family: 'nanum';
    margin: 0;
}


.main-bg {
    background-color: aquamarine;
    background-image: linear-gradient(to top, #4e61c0, #589edc);
    padding: 100px;
    padding-bottom: 0;
    position: relative;
}
.main-content {
    color: white;
    float: left;
}
.main-btn {
    background-color: #444;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
}
.main-img {
    width: 350px;
    float: right;

}


.explain-container {
    padding: 40px;
    text-align: center;
}
.explain-btn {
    background-color: #444;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
}


.product-bg {
    background-color: #4e61c0;
    color: white;
    padding: 40px;
    text-align: center;
}
.product-container {
    display: flex;
    justify-content: center;
}
.layout-content {
    margin-right: 40px;
}
.product-container i {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    margin-top: 25px;
    box-sizing: border-box;
    color: #4e61c0;
}


.portfolio-container {
    padding: 40px;
    text-align: center;
}


.social-container {
    display: flex;
    justify-content: center;
}
.social-container i {
    background-color: #4e61c0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* margin-top: 25px; */
    margin-right: 40px;
    box-sizing: border-box;
    color: white;
}