@font-face {
    font-family: 'nanum';
    src: url("../font/NanumSquareR.woff");
}
div, input, textarea {
    box-sizing: border-box;
}
body {
    font-family: 'nanum';
    margin: 0;
}


.main-bg {
    background-color: aquamarine;
    background-image: linear-gradient(to top, #4e61c0, #589edc);
    padding: 100px;
    padding-bottom: 0;
    position: relative;
}
.main-container {
    max-width: 1200px;
    margin: auto;
}
.main-content {
    color: white;
    float: left;
}
.main-btn {
    background-color: #444;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main-btn:hover {
    background-color: #333;
}
.main-btn:active {
    background-color: #222;
}
.main-img {
    width: 350px;
    float: right;

}


.explain-container {
    padding: 40px;
    text-align: center;
}
.explain-btn {
    background-color: #444;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
}
.explain-btn:hover {
    background-color: #333;
}
.explain-btn:active {
    background-color: #222;
}


.product-bg {
    background-color: #4e61c0;
    color: white;
    padding: 40px;
    text-align: center;
}
.product-container {
    display: flex;
    justify-content: center;
}
.layout-content {
    /* margin-right: 40px; */
    width: 25%;
}
.product-container i {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    margin-top: 25px;
    box-sizing: border-box;
    color: #4e61c0;
}


.portfolio-bg {
    padding: 40px;
    text-align: center;
}
.portfolio-container {
    max-width: 1200px;
    margin: auto;
    text-align: left;
}
.portfolio-text {
    color: white;
    padding: 50px;
    width: 100%;
}
.portfolio-item {
    float: left;
    width: 50%;
    height: 350px;
    background-size: cover;
    position: relative;
}
.item-bg1 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/portfolio-1-1.jpg);

}
.item-bg2 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/portfolio-2.jpg);
}
.item-bg3 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/portfolio-3-1.jpg);
}
.item-bg4 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/portfolio-4-1.jpg);
}
.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0px solid white;
    transition: all 1s;
}
.white-box:hover {
    border: 30px solid white;
}


.social-container {
    display: flex;
    justify-content: center;
}
.social-container i {
    background-color: #4e61c0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* margin-top: 25px; */
    margin-right: 40px;
    box-sizing: border-box;
    color: white;
}


@media screen and (max-width : 992px){
    .main-img {
        width: 260;
        display: block;
        float: none;
        margin: auto;
        /* margin-top: 42px; */
    }
    .main-content {
        float: none;
        /* margin-top: 50px; */
        text-align: center;
    }

    .product-container {
        display: flex;
        flex-direction: column;
    }
    .layout-content {
        width: 100%;
    }

    .portfolio-item {
        float: none;
        width: 100%;
    }
}