@font-face {
    font-family: 'nanum';
    src: url("../font/NanumSquareR.woff");
}
div, input, textarea {
    box-sizing: border-box;
}
body {
    font-family: 'nanum';
    margin: 0;
    background-color: #f7f9fc;
}


.bg-sky {
    background-color: #6fbaf8;
}
.color-sky {
    color: #6fbaf8;
}
.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}


.profile-address {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
}
.profile-btn {
    width: 120px;
}
.profile-info {
    font-size: 14px;
    vertical-align: middle;
    border-left: 1px solid grey;
    padding-left: 50px;
}

.title {
    margin: 10px;
}
.pill {
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 100px;
    padding: 3px 12px 5px 12px;
    margin-right: 2px;
    margin-bottom: 5px;
}