@use '_reset.scss';

.sh-list {
    li {
        list-style: none;
        border: 1px solid #eee;
        width: 300px;
        padding: 10px;

        
    }

    .active {
        background-color: skyblue;
        color: white;
    }
}

//

@mixin alert-basic($color) {
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid $color;
    border-radius: 5px;
    background-color: $color;
}

.well-alert {
    @include alert-basic(#dff0d8);
}

.heads-alert {
    @include alert-basic(#d8ecf6)
}

.warning-alert {
    @include alert-basic(#fcf8e3)
}

//

@mixin col($num) {
    float: left;
    border: 1px solid grey;
    width: (100 / (12 / $num)) * 1%;
}

.row .col-6 {
    @include col(6)
}

.row .col-4 {
    @include col(4)
}

.row .col-3 {
    @include col(3)
}